

<div id="sidebar-wrapper" *ngFor="let items of menuItems; let i = index">
    <mat-accordion>
  
      <mat-expansion-panel  class="sidebar-nav">
        <mat-expansion-panel-header *ngIf="items.items.length > 0; else itemBlock">
  
          <i class="material-icons">{{items.img}}</i>
          <span >{{items.name}}  </span>
  
        </mat-expansion-panel-header>
  
        <a (click)="onClickMe()"  *ngFor="let item of items.items" routerLink="{{item.url}}"><br/>{{item.name}} </a>
  
  
      </mat-expansion-panel>
  
    </mat-accordion>
  
  
  
    <ng-template #itemBlock>
  
  
          <a  id="main-item" routerLink="{{items.url}}">
            <i class="material-icons">{{items.img}}</i>
            <span>{{items.name}} </span>
  
          </a>
     
    </ng-template>
  </div>
  