#wrapper {
  display: flex;
}
// ::ng-deep .mat-expansion-panel{
//     background: #1A1A1A!important;
//   }
/* Sidebar */
#sidebar-wrapper {
  position: fixed;
  top: 0;
  z-index: 2;
  width: 0;
  height: 85vh;
  overflow-y: auto;
  // opacity: 0.9;
  transition: all .5s;
  align-items: center;
  background-color: #1A1A1A!important;
}

/* Main Content */
#page-content-wrapper {
  width: 100%;
  flex-grow: 1;
  transition: all .5s;
}

#menu-toggle {
  transition: all .3s;
  font-size: 2em;
}

/* Change the width of the sidebar to display it*/
#wrapper.menuDisplayed #sidebar-wrapper {
  width: 320px;
}
.footer {
  flex-grow: 0;
}

.no-padding{
  margin-right: 0;
  margin-left: 0;
  padding-right: 0;
  padding-left: 0;
}

@media screen and (max-width:500px){
  #wrapper.menuDisplayed #sidebar-wrapper {
      width: 98%;
  }
}

.notification-container{
  position: fixed;
  bottom: 0;
  right: 20px;
  width: 350px;
  z-index: 100;
}