
.wrap {
  overflow: hidden;
  overflow:scroll;
  height: 0;
  transition: 0.3s;

}

.wrap::-webkit-scrollbar {
  width: 0;
}

.grid-container {
  display: grid;
  row-gap: 8px;
  max-width: 1231px;
    margin: 0 auto;
}



.question-wrap {
  display: grid;
  grid-template-columns: 1fr 40px;
  cursor: pointer;
  span {
    display: block;
    height: 50px;
    display: grid;
    align-items: center;
    background-color: #F5F6FA;

  }

  .question-icon {
    width: 30px;
    height: 30px;
    display: grid;
    justify-content: center;
    align-content: center;
    justify-self: center;
    align-self: center;
    transform: rotate(-90deg);
    transition: 0.3s;
  }
}

.answer {
  padding-left: 50px;
  max-width: 825px;
  @media(max-width:900px) {
    padding-left: 0;
    padding-right: 50px;
  }
}


.grey-border {
  width: 100%;
  transition: 0.7s;
  border-bottom: 1px solid #E0E0E0;
}

.blue-border {
  width: 0;
  transition: 0.7s;
  border-bottom: 3px solid #0353E9 ;
}
