.rawValue{
    width:300px;
    height:20px;
    background-color: rgb(188, 245, 171);
    text-align: center;
}
.mat-raised-button {
    margin-right: 5px;
  }
  
  .fin{
   margin:1%;
   margin-bottom:5em;
   margin-left:55em;
  }

  .foto{
    margin-left:2em;
  }

  .form-group{
    margin-top: 2em;
    margin-left:12em;
  }
  
  
  
  .mat-form-field {
    font-size: 16px;
    flex-grow: 1;
    
  }
  
  input[type="file"] {
    z-index: -1;
    position: absolute;
    opacity: 0;
  }
  
  input:focus+label {
    outline: 2px solid;
  }

  input {
   
    max-width: 500px;
    width: 100%;
  }

  mat-form-field {
    width: 70%;
  }

  
  
  
  
  
  