<h3 class="title">Переглянути :</h3>
<br /><br />
<form [formGroup]="myForm" novalidate>
  <div [formGroup]="myForm">
    <h5>UA Name :</h5>
    <p>{{ myForm.get("ua_name").value }}</p>
  </div>
  <br />
  <div [formGroup]="myForm">
    <h5>ENG Name :</h5>
    <p>{{ myForm.get("eng_name").value }}</p>
  </div>
  <br />
  <div [formGroup]="myForm">
    <h5>RUS Name :</h5>
    <p>{{ myForm.get("rus_name").value }}</p>
  </div>

  <br /><br />

  <div class="form-group row">
    <div class="fin">
      <button type="button" mat-raised-button color="accent" (click)="Close()">
        Закрити
      </button>
    </div>
  </div>
</form>
