.mat-raised-button {
    margin-right: 8px;
  }
  
  .fin{
   margin:1%;
   margin-left:70em;
  }

  mat-form-field {
    width: 100%;
  }
  .form-group{
    margin-top: 2em;
    margin-left:2em;
  }
  
  .container {
    display: flex;
    flex-direction: column;
    min-width: 450px;
  }
  
  .container>* {
    width: 100%;
  }
  
  .form {
    display: flex;
    padding-top: 6px;
  }
  
  .mat-form-field {
    font-size: 16px;
    flex-grow: 1;
  }
  
  input[type="file"] {
    z-index: -1;
    position: absolute;
    opacity: 0;
  }
  
  input:focus+label {
    outline: 2px solid;
  }

  input {
   
    max-width: 500px;
    width: 100%;
  }

  mat-form-field {
    width: 70%;
  }
  
  