<form [formGroup]="myForm">
   
    <!-- <mat-form-field [hidden]="true" >
      <input [hidden]="true" matInput type="number" formControlName="id" >
  </mat-form-field> -->

    <mat-form-field class="form-group">
      <mat-label>Email :</mat-label>
      <input matInput formControlName="email">
    </mat-form-field>

    <br><br>

    <mat-form-field class="form-group">
      <mat-label>Mobile :</mat-label>
      <input matInput formControlName="mobile">
    </mat-form-field>

    <br><br>

    <mat-form-field class="form-group">
      <mat-label>Phone :</mat-label>
      <input matInput formControlName="phone">
    </mat-form-field>

    
    <br><br>
  
    <div class="form-group row">
      <div class="fin">
       
        <button type="button" mat-raised-button color="accent" (click)="onNoClick()">Скасувати</button>
        <button type="submit" [disabled]="myForm.invalid" mat-raised-button color="primary" (click)="confirmAdd()">Зберегти</button>
      </div>
    </div>
  
  </form>


